/* Base */

:root {
    --white: #ffffff;
    --gray: #808080;
    --blacktext: #000000;
    --bluebackground: #5b6c78;
    --bluebackground2: #414c55;
    --redtext: #e60000;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    line-height: 1;
  }
  
  h1 {
    font-size: 100px;
  }
  
  h2 {
    font-size: 75px;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    padding-left: 2rem;
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  .list-unstyled {
    list-style: none;
    padding: 0;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .citation {
    display: flex;
    flex-wrap: wrap;
    color: var(--redtext);
  }
  
  .grid__item {
    flex-grow: 1; 
    flex-shrink: 0;
    text-align: center;
    width: 50%;
  }
  
  @media screen and (min-width:750px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1px;
    }
  }

  
  section {
    padding: 2.5rem;
  }
  
  .section-title {
    margin-top: 0;
  }
  
  .section-header {
    text-align: center;
  }   
  
  .header {
    background: var(--gray);
    border-bottom: 1px solid var(--blacktext);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 75px;
    padding: 0px 0px 0px 0px;
  }
  
  .header .logo {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
  }
  
  
  .header li {
    display: inline-flex;
    align-items: center;
    padding: 0 .3rem;
  }
  
  .header a {
    color: var(--color-body);
  }
  
  .header a:hover {
    color: var(--redtext);
  }
  
  .header .right {
    display: flex;
    align-items: center;
  }
  
  .socials {
    display: flex;
  }
  
  .socials li {
    margin-bottom: 0;
  }
  
  .socials a {
    padding: 0 2px;
  }
  
  .socials .icon {
    height: 18px;
  }
  
  .Accueil {
    background: var(--bluebackground2);
    color: var(--blacktext);
    padding: 0px 10% 0px 10%;
  }
  
  .Accueil .title {
    color: inherit;
    margin: 1.6rem 0 0 0;
  }
  
  .Accueil__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .Accueil__item span {
    text-transform: uppercase;
  }
  
  .Accueil__item_right {
  display: block
}

  .Accueil__logo {
      height: 100px;
      width: 100px;
    }

    .Apropos {
      display:flex;
      background: var(--bluebackground);
    }
  
  @media screen and (min-width:750px) {

    .Accueil__item.left {
      align-items: flex-start;
      flex: 1 0 15%;
      max-width: 60%;
    }
  }
  
  .services {
    background: var(--bluebackground2);
  }
  
  .service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 2px solid var(--bluebackground);
    border-radius: 50%;
  }
  
  .service__icon svg {
    height: 35px;
  }
  
  .service h3 {
    margin-bottom: 0;
  }
  
  @media screen and (max-width:1200px) {

    .section-title{
      display: none;
    }

    .imgprojet {
      display: none;
    }

    .Accueil__item.left{
      display: none;
    }

    .grid__item_troidicone{
      display: none;
    }

    .Accueil__item_right{
      display: none;
    }

    .troisdicone{
      display: none;
    }

    .service {
      text-align: center;
    }
  
    .service__icon {
      margin: 0 auto;
    }

    .compethide {
      display: none;
    }
  }
  
  @media screen and (min-width:750px) {
    .service {
      display: flex;
      align-items: center;
    }
  
    .service__icon {
      margin-right: 2rem;
    }
  }
  
  .troisdicone {
    margin: 0px 50px 0px 25px;
  }

  .Compétences {
    background-color: var(--bluebackground);
  }

  .Compétences p {
    margin: 0 0 0.3rem 0;
  }
  
  .Compétences li {
    background-color: var(--gray);
    border-left: 3px solid var(--bluebackground);
    padding-top: 1px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  
  .Compétences .progressbar {
    background: var(--bluebackground2);
    color: var(--blacktext);
    margin-bottom: 13px;
  }
  
  .Compétences .bar {
    background: var(--redtext);
    padding: 9px;
    margin-top: 15.5px;
  }

  .groupecompetence2 {
    padding-top: -4.4px;
  }

  .groupecompetence3 {
    padding-top: -1px;
  }
  
  .projets {
    background: var(--bluebackground2);
    justify-content: center;
    text-align: center;
  }
  
  .projets .grid__item {
    max-width: 100%;
    margin-bottom: 0;
    opacity: 1;
    justify-content: center;
  }
  
  .modal__content {
    background-color: var(--white);
    height: 100vh;
    padding: 5rem 1rem;
    overflow: auto;
    text-align: left;
  }
  
  .modal img {
    margin-bottom: 2rem;
  }
  
  .modal__title {
    margin: 0 0 2rem;
  }
  
  .modal .grid__item {
    max-width: 100%;
  }
  
  .card {
    background: var(--white);
    position: relative;
    box-shadow: 0 0 7px var(--blacktext);
    border: 1px solid var(--white);
    justify-items: center;
  }
  
  .card__overlay {
    background: var(--blacktext);
    position: absolute;
    top: 0;
  }
  
  .card__overlay a {
    color: var(--white);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .card:hover .card__overlay {
    top: 0;
  }
  
  .form {
    max-width: 600px;
    margin: 4rem auto 0 auto;
  }
  
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  .form textarea {
    min-height: 200px;
  }
  
  .form .btn {
    border: none;
    background: var(--color-body);
    color: var(--white);
    width: auto;
    min-width: 160px;
    text-transform: uppercase;
  }
  
  .form .btn:hover {
    cursor: pointer;
    background: var(--blacktext);
  }

  .barHTML {
    padding-right: 20%;
  }
  
  .barCSS {
    padding-right: 40%;
  }

  .barJAVASCRIPT {
    padding-right: 100%;
  }

  .barPHP {
    padding-right: 80%;
  }

  .barGIT {
    padding-right: 60%;
  }

  .card_title{
    text-align: center;
  }

  .cardcenter{
    display: flex;
    text-align: center;
    width: 500px;
    justify-content: center;
  }

  /* Footer */
  
  footer {
    background: var(--gray);
    color: var(--blacktext);
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .grid {
    align-items: center;
  }
  
  footer .socials {
    justify-content: center;
    text-align: center;
  }
  
  footer .socials li {
    padding: 0 .7rem;
  }
  
  footer .socials a {
    color: var(--blacktext);
    border: 1px solid var(--blacktext);
    border-radius: 50%;
    padding: 1rem;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    transition: all .4s;
  }
  
    footer {
      text-align: left;
    }
  
    footer .grid__item {
      max-width: 33.333%;
    }

  /* CV */